<h1> Name: <%= @pet.name %></h1>
<h2> description: <%= @pet.description%></h2>
<ul>
  <h1><p> age: <%= @pet.age %> </p></h1>
  <h1><p> breeed: <%= @pet.breed %> </p></h1>
</ul>

<%#= cl_image_tag @pet.photo, height: 300, width: 400, crop: :fill %>

<br>
<br>
<h3><%= link_to "Back to My Pets", pets_path %></h3>

