<h1> Name: <%= @pet.name %></h1>
<h2> Description: <%= @pet.description %></h2>
<ul>
  <h1><p> Age: <%= @pet.age %></p></h1>
  <h1><p> Breed: <%= @pet.breed %></p></h1>
</ul>


<h3> <%= link_to "Back to my Pets", pets_path %></h3>
