<h1> Name: <%= @pet.name %></h1>

<h3> Description: <%= @pet.description %></h3>
<ul>
  <li>Age: <%= @pet.age %></li>
  <li>Breed: <%= @pet.breed %></li>
  <li>Address: <%= pet.address %> </li>
</ul>
<%#= cl_image_tag @pet.photo, height: 300, width: 400, crop: :fill %>
<br>
<br>
<% if policy(@pet).edit? %>
  <p> <%= link_to "Edit my Pet", edit_pet_path %>  </p>
<% end %>
<% if policy(@pet).destroy? %>
  <p> <%= link_to "Delete my Pet", pet_path,
    method: :delete,
    data: {confirm: 'Proceed with deletion?' } %></p>
<% end %>

<p><%= link_to "Back to My Pets", pets_path %></p>
