<%= render 'shared/navbar' %>
   <% if user_signed_in? %>
    <div class="banner" style="background-image: url(<%= image_url('banner-dashboard.png') %>);">
  <div class="container">
    <div class="container-text">
      <h2>My Pets Dashboard</h2>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
<!-- the list of pets I own  -->
  <div class="container">
    <% if @rents_owned.empty? %>
      <h3>Nobody rented a pet from you yet</h3>
    <% else %>
      <h3>Pets rented from me</h3>
      <div class="row">
        <% @rents_owned.each do |rent| %>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
            <% if rent.pet.photo.present? %>
              <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path rent.pet.photo, height: 300, width: 400, crop: :fill %>')"></div>
                <div class="card-description">
                  <h4><%= link_to rent.pet.name, pet_path(rent.pet)%></h4>
                  <h5><%= rent.pet.price %></h5>
                  <p>Rent starts: <%= rent.start_period %></p>
                  <p>Rent ends: <%= rent.end_period %></p>
                </div>
              </div>
              <% else %>
                <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))"></div>
                <div class="card-description">
                  <h4><%= link_to rent.pet.name, pet_path(rent.pet)%></h4>
                  <h5><%= rent.pet.price %></h5>
                  <p>Rent starts: <%= rent.start_period %></p>
                  <p>Rent ends: <%= rent.end_period %></p>
                </div>
              </div>
              <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<!-- the list of pets I rented  -->
  <div class="container">
    <h3>I rented these pets</h3>
    <div class="row">
      <% @rents.each do |rent| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
          <% if rent.pet.photo.present? %>
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path rent.pet.photo, height: 300, width: 400, crop: :fill %>')"></div>
              <div class="card-description">
                <h4><%= link_to rent.pet.name, pet_path(rent.pet)%></h4>
                <h5><%= rent.pet.price %></h5>
                <p>Rent starts: <%= rent.start_period %></p>
                <p>Rent ends: <%= rent.end_period %></p>
              </div>
            </div>
            <% else %>
              <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))"></div>
              <div class="card-description">
                <h4><%= link_to rent.pet.name, pet_path(rent.pet)%></h4>
                <h5><%= rent.pet.price %></h5>
                <p>Rent starts: <%= rent.start_period %></p>
                <p>Rent ends: <%= rent.end_period %></p>
              </div>
            </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container actions" style="margin-top: 30px">
    <p><%= link_to "Search available pets", pets_path, class: "btn btn-primary" %></p>
  </div>
</div>
