<h1>My Pets Dashboard</h1>

<% if @rents_owned.empty? %>
  <p><%= 'No one has rented your pets yet' %></p>
<% else %>
  <% @rents_owned.each do |rent| %>
    <p><%= '---' %></p>
    <p><%= rent.start_period %></p>
    <p><%= rent.end_period %></p>
    <p><%= '---' %></p>
  <% end %>
<% end %>

<% @rents.each do |rent| %>
  <h2><%= "You succesfully rented this pet!" %></h2>
  <p>Your rent starts: <%= rent.start_period %></p>
  <p>Your rent ends: <%= rent.end_period %></p>
    <p><%= '---' %></p>
<% end %>

<p><%= link_to "Back to My Pets", pets_path %></p>
