<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url('bannerphoto') %>);">
  <div class="container">
    <div class="container-text">
      <h1 color="white">Rent A Pet</h1>
      <p>Change your life and rent a little friend to keep you company.</p>
        <%= form_tag pets_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an available pet by name, breed, or address"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
<% if params[:message].present? %>
  <p><%= params[:message] %></p>
<% end %>
<!-- should be put in navbar and refer to dashboard if logged in -->
<h1><%= link_to "My Pets", pets_path %></h1>
