<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-1.us.xmsymphony.com/d95f62213cdda27c5216a98d61d7d835/contents/ckfinder/images/small-animals.jpg);">
  <div class="container">
    <h1 color="white">Rent A Pet</h1>
    <p>Change your life and rent a little friend to keep you company.</p>
  </div>
</div>
<%= form_tag pets_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an available pet by name, breed, or address"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<% if params[:message].present? %>
  <p><%= params[:message] %></p>
<% end %>

<!-- the list of pets -->
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
        <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path pet.photo, height: 300, width: 400, crop: :fill %>');"></div>
          <div class="card-description">
            <h2><%= pet.name %></h2>
            <h3><%= pet.price %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
