  
<h3>Add a review</h3>

<%= simple_form_for [pet, review] do |f| %>
  <% if condition %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :content %>
    <%= f.submit class: "btn btn-primary"%>
  <% else %>
    <%= f.input :rating, collection: 0..5, disabled: true %>
    <%= f.input :content, disabled: true %>
    <%= f.submit class: "btn btn-primary disabled"%>    
  <% end %>
<% end %>  
<p>In order to review, you need to rent a pet first</p>
